*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#section-header {
  width: 100vw;

  header{
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1{
      text-transform: uppercase;

      span{
        color: #E8BF5D;
      }
    }

    menu{
      display: flex;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;

      li {
        display: table-cell;
        position: relative;
        padding: 15px 0;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.08em;
        color: #000;

        display: inline-block;
        padding: 15px 15px;
        position: relative;
      }

      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 5px;
        left: 50%;
        position: absolute;
        background: #E8BF5D;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      a:hover:after {
        width: 100%;
        left: 0;
      }

    }
  }
}

#section-photo-slider {
  height: 92vh;
  width: 100vw;
  background: linear-gradient(rgba(14, 13, 13, 0.801), rgba(14, 13, 13, 0.801)), url("./img/5lawyer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#name-surname-button-container{
  width: 100vw;
  position: absolute;
  bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #name-surname-container{
    color: #fff;
    padding: 0 8rem;
    h1{
      font-size: 3.5rem;
      font-weight: 100;
    }

    p{
      font-family: "Open sans", sans-serif;
      font-size: 1.4rem;
    }
  }

  #name-surname-container::after{
    content: "";
    display: block;
    height: 60px;
    margin-top: -70px;
    margin-left: -20px;
    background: #E8BF5D;
    width: 2px;
  }

  #name-surname-button{
    padding: 0 8rem;

    button{
      height: 2rem;
      padding: 1.2rem 2rem;
      border-radius: 2rem;
      border: none;
      display: flex;
      background-color: #E8BF5D;
      align-items: center;
      font-family: serif;
      font-size: 1rem;
    }

    button:hover{
      background-color: #e8be5d9d;
      cursor: pointer;
      color: #fff;
    }
  }

}


#section-about-us{
  min-height: 40vh;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

.text-section-header{
  position: relative;

  h1{
    font-size: 2rem;
    font-weight: 100;
    padding: .5rem;
  }
  p{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
    line-height: 1.5rem;
    span{
      display: block;
    }
  }
}

.text-section-header::after{
  content: "";
  display: block;
  height: 6rem;
  margin-top: -6.5rem;
  margin-left: -1rem;
  background: #E8BF5D;
  width: 2px;
}

.text-section-bg-number{
  position: absolute;
  bottom: 1.6rem;
  left: -1rem;
  p{
    font-size: 9rem;
    color: rgba(10, 10, 10, 0.05);
  }
}

#about-us-info{
  margin-left: -1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin-top: 6vh;
}

#about-us-history{

  h1{
    font-weight: 100;
    padding: 1rem 0;
  }

  .about-us-year{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-family: 'Open sans', sans-serif;

    .about-us-year-header{
      min-width: 6rem;
      p{
        font-weight: 600;
        font-size: 1.4rem;
      }

    }
  }
}

#about-us-expertise{

  h1{
    font-weight: 100;
    padding: 1rem 0;
  }

  p{
    line-height: 1.8rem;
    padding: .5rem 0;
    font-family: 'Open sans', sans-serif;
  }
}

// section Practis Area

.text-section-bg-number-night-theme{
  P{
    color:rgba(255, 255, 255, 0.08);
  }
}

#section-practis-area{
  min-height: 50vh;
  background-color: #111111;
  color: #fff;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

#section-practis-text-container{
  padding: 3rem 0;
}


.practis-text-row{
  display: flex;
  position: relative;
}

.practis-single-text-area{
  padding: 1rem 5rem;

  h1{
    font-weight: 100;
    padding-bottom: 1rem;
  }

  p{
    font-family: 'Open sans', sans-serif;
    line-height: 1.8rem;
  }
}

.practis-single-text-area::after{
  content: "";
  position: absolute;
  display: block;
  height: 2rem;
  width: 1rem;
  top: 1.3rem;
  margin-left: -2rem;
  border: 2px solid #E8BF5D;
}

// section Meet Our Attorney

#section-meet{
  min-height: 50vh;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

#meet-photos-container{
  padding: 3rem 0;
  width: 70vw;
  display: flex;
  justify-content: space-between;

}
.meet-single-person{
  img{
    width: 15vw;
  }
}
.meet-single-person-text{
  padding: 1rem 0;
  line-height: 2rem;
  h1{
    font-weight: 100;
  }

  p{
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
  }
}

// section Our Clients Say
#section-our-clients{
  min-height: 50vh;
  background-color: #111111;
  color: #fff;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

.our-clients-container{
  width: 70vw;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.our-clients-container-photo{
  position: relative;

}

.our-clients-orange-div{
  width: 23vw;
  height: 19vw;
  background-color: #E8BF5D;
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.our-clients-img{
  width: 23vw;
  height: 19vw;
  position: relative;
  z-index: 100;
}

.our-clients-container-text{
  position: relative;
  padding: 1rem 0;
  max-width: 40vw;

  p{
    font-family: 'Open sans', sans-serif;
    line-height: 2rem;
    font-size: 1rem;
  }

  h1{
    font-weight: 100;
    padding: 2rem 0 1rem 0;
  }

  span{
    font-size: 1rem;
    font-family: "Open sans", sans-serif;
  }

  .our-clients-quote{
    position: absolute;
    left: -4.5rem;
    top: 2rem;
    font-family: serif;
    font-size: 8rem;
    color: #707070;
  }
}

//Recent Publications Section

#section-recent-publications{
  min-height: 50vh;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;

}

.recent-publications-container{
  padding: 5vh 0;
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.recent-publications-single-container{
  width: 20vw;
  img{
    width: 20vw;
  }
}

.single-publication-text-container{
  padding: 1rem 0;

  h1{
    font-weight: 100;
  }

}

.single-publication-author-date{
  display: flex;
  justify-content: space-between;
  padding: .8rem 0;

  p{
    font-family: 'Open sans', sans-serif;
    font-style: italic;
  }
}

.single-publication-text-content{
  font-family: 'Open sans', sans-serif;
  line-height: 2rem;
}

.single-publication-comment-share{
  display: flex;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  img{
    width: 1rem;
  }
  p{
    font-size: 1.1rem;
    font-family: 'Open sans', sans-serif;
  }
}


//section Frequently  Asked Questions

#section-frequently{
  min-height: 50vh;
  background-color: #111111;
  color: #fff;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

.section-frequently-container{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.section-frequently-single-question{
  display: flex;
  min-height: 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8BF5D;
  padding: 1.5rem 0 1rem 0;
  img{
    width: 1.5rem;
  }

  p{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
  }

  p:hover{
    cursor: pointer;
  }

  p:active{
    color:#E8BF5D;
  }
}

.section-frequently-answer-text{
  min-height: 100%;
  width: 100%;
  background-color: #E8BF5D;
  color: #000;

  padding: 3vw;
  font-family: 'Open sans', sans-serif;
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

#section-contact{
  min-height: 50vh;
  padding: 4vh 15vw;
  display: flex;
  align-items: center;
}

.section-contact-container{
  padding: 2rem 0;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.section-contact-form-container{

  form{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
      width: 100%;
      margin: 1vh 0;
      padding: .5rem 0;
      border: none;
      border-bottom: 1px solid #E8BF5D;
      font-style: italic;
    }
  }
}

.section-contact-map-container{
  display: flex;
  justify-content: center;
}

.contact-map-container-photo{
  position: relative;

}

.contact-orange-div{
  width: 23vw;
  height: 22vw;
  background-color: #E8BF5D;
  position: absolute;
  top: 2vh;
  left: -2vh;
}

.contact-img{
  width: 23vw;
  height: 22vw;
  position: relative;
  z-index: 100;
}